/* @import url("./fonts.css"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */

@font-face {
  font-family: "gilroy";
  src: url("/fonts/gilroy-semibold.ttf");
}
@font-face {
  font-family: "panton";
  src: url("/fonts/PantonNarrow-Trial-Bold.ttf");
}

* {
  font-family: gilroy;
}

.hero-p {
  font-family: gilroy;
}

.hero-title {
  font-family: panton;
}

.logo {
  background: linear-gradient(to right, #ff4e50, #f9d423);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo:hover {
  background: linear-gradient(to right, #ff4e50, #a1df70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dhaka-bank {
  background: linear-gradient(to right, #0b539d, #0b539d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.master-card {
  background: linear-gradient(to right, #eb031b, #f79e1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  */

.brandPlaceholder::placeholder {
  color: #6d6d6d;
  font-size: smaller;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: #000000e8;
}

::-webkit-scrollbar-thumb {
  background-color: #fe9a609b;
  border-radius: 1rem;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fe9b60;
}

/*  */

.brand-section {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#202020, #0f0f0f);
}

.largest-project {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#ff3b46, #ff3b46);
}

.eligibility-section {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#f0f0f0, #eeeeee);
}

.wishlist-section {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#ffc200, #ffc200);
}

.card-section {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#81b8fd, #81b8fd);
}

.second-section {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#fd7f3e, #fd7f3e);
}

.footer {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#202020, #0f0f0f);
}

.navbar {
  background-color: #1a1a1a;
}

.join-wishlist {
  /* font-family:; */

  background: rgba(255, 174, 0, 0.329);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* overflow: scroll; */
  padding-top: 20px;
}

.how-does-it-work {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#b2e92e, #b2e92e);
}

.dashboard1 {
  border: 2px solid #920338;
}

.dashboard2 {
  border-image: linear-gradient(to right, #920338, #5a5105) 1;
}
.dashboard3 {
  border: 2px solid #5a5105;
}

/* tab */
.tab {
  background: linear-gradient(#10141d, #10141d) padding-box,
    linear-gradient(to right, #920338, #5a5105) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
}
/* circle */

/*  brand hero*/

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

.brandHero {
  overflow: auto;
  background: linear-gradient(
    315deg,
    #0d1118 3%,
    #0d1c35 38%,
    #041d49 68%,
    #0d1016 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

/* how it works */

/* calculator */

.get-calculator {
  border: 5px dotted rgba(190, 190, 190, 0.747);
  transition: 0.5s;
  border-radius: 10px;
  background-color: #020001;
}

.get-calculator:hover {
  /* background: linear-gradient(#920338, #920338); */
  border: 5px dotted #c2b118;
}

.calculator {
  background: #10141df5;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid #fc0f664f;
}

.calculator-container {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fade-in {
  animation-name: fade-in;
}

.fade-out {
  animation-name: fade-out;
}

/* range */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fc0f67;
  box-shadow: -407px 0 0 400px #fc0f67;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fc0f67;
  box-shadow: -407px 0 0 400px #fc0f67;
}

/*  */

/* calc-section */

.calc-section {
  overflow: auto;
  background: linear-gradient(
    315deg,
    #3f4710 3%,
    #25091e 38%,
    #5c370d 68%,
    #160d15 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

/*  */

/* contact us */
.contact-us-btn {
  background: linear-gradient(#10141d, #10141d) padding-box,
    linear-gradient(to right, #920338, #5a5105) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  transition: 0.5s;
}

.contact-us-btn:hover {
  background: linear-gradient(#920338, #920338) padding-box;
}

.contact-us-form {
  background: #10141dd7;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid #fc0f664f;
}

/*  */
.slick-prev:before {
  font-size: 25px !important;
  color: #fc0f67 !important;
}
.slick-next::before {
  font-size: 25px !important;
  color: #fc0f67 !important;
}
/*  */

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .lineTwo {
    left: 140px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  .lineTwo {
    /* left: 250px; */
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/*  */
.contact-us {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.945),
      rgba(0, 0, 0, 0.938)
    ),
    url("/images/carousel/10.jpeg");
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
