/* HowItWorks.module.css */

.howItWorksContainer {
  display: flex;
  /* flex-direction: column; */
  width: 50% !important;
  overflow: hidden !important;
  background-color: #10141d;
  /* margin-top: -200px; */
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 300px !important;
}

.card {
  background-color: #10141d;
  width: 50% !important;
}

@media (max-width: 750px) {
  /* .card {
    width: 40%;
  } */
}

.howItWorksContainer::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for Firefox */
.howItWorksContainer {
  scrollbar-width: none !important;
}
